@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-color: #080404 !important;
  width: 100%;
}

#home{
  background-image: url('../public/images/bg.png');
  width: 100%;
  background-position: center;
  background-size: cover;
}

#footer{
  background: "#080404" !important;
  background-image: url('../public/images/gradient.png');
  width: 100%;
  background-position: right;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .menu-list{
      display: block !important;
      position: fixed;
      width: 100%;
      text-align: center;
      min-height: calc(100vh - 60px) !important;
      z-index: 100;
      background: #121212 !important;
      top: 60px;
      right: -1000px;
      transition: .4s;
  }

  .menu-active{
      right: 0 !important;
  }
}